<ul>
  <li><app-person></app-person></li>
  <li><app-person></app-person></li>
  <li><app-person></app-person></li>
</ul>

<div class="col-auto mb-3">
  <div class="row">
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center; background: rgb(221, 221, 221); box-shadow: rgb(0, 0, 0) 0px 0px 10px inset;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male2.png" alt="" />
        <h5 class="card-title">Bengt Wankel</h5>
        <a href="/people/1"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female1.png" alt="" />
        <h5 class="card-title">Berry Tarrier</h5>
        <a href="/people/2"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male1.png" alt="" />
        <h5 class="card-title">Warden Burnall</h5>
        <a href="/people/3"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female2.png" alt="" />
        <h5 class="card-title">Phyllida Lansly</h5>
        <a href="/people/4"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female3.png" alt="" />
        <h5 class="card-title">Pippa Serginson</h5>
        <a href="/people/5"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female4.png" alt="" />
        <h5 class="card-title">Della Roebuck</h5>
        <a href="/people/6"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female3.png" alt="" />
        <h5 class="card-title">Dulcine Melsome</h5>
        <a href="/people/7"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male1.png" alt="" />
        <h5 class="card-title">Frasco Lynes</h5>
        <a href="/people/8"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female1.png" alt="" />
        <h5 class="card-title">Sheelah Durman</h5>
        <a href="/people/9"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female2.png" alt="" />
        <h5 class="card-title">Millisent Okeshott</h5>
        <a href="/people/10"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female2.png" alt="" />
        <h5 class="card-title">Aubine Spellacy</h5>
        <a href="/people/11"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female2.png" alt="" />
        <h5 class="card-title">Ingeborg Fernier</h5>
        <a href="/people/12"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female1.png" alt="" />
        <h5 class="card-title">Bell Renehan</h5>
        <a href="/people/13"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female5.png" alt="" />
        <h5 class="card-title">Brena Steane</h5>
        <a href="/people/14"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female3.png" alt="" />
        <h5 class="card-title">Alison Aynsley</h5>
        <a href="/people/15"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male5.png" alt="" />
        <h5 class="card-title">Devlin Caney</h5>
        <a href="/people/16"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male2.png" alt="" />
        <h5 class="card-title">Garth Schankel</h5>
        <a href="/people/17"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid pink; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/female5.png" alt="" />
        <h5 class="card-title">Aveline Stronack</h5>
        <a href="/people/18"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male1.png" alt="" />
        <h5 class="card-title">Mick Howatt</h5>
        <a href="/people/19"><button>Show Details</button></a>
      </div>
    </div>
    <div
      class="card mx-1 my-1"
      style="width: 200px; border: 1px solid blue; text-align: center;"
    >
      <div class="card-body">
        <img class="card-img-top" src="/images/male2.png" alt="" />
        <h5 class="card-title">Kristofor Haselhurst</h5>
        <a href="/people/20"><button>Show Details</button></a>
      </div>
    </div>
  </div>
</div>
